<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skills</title>
    <link rel="stylesheet" href="/static/skills.css" />

</head>
<body>
    <div class="wrapper">
  <h1>Skill sets </h1>
  <div class="team">
    <div class="team_member">
      
      <h3>Python</h3>
      
      <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together.</p>
    </div>
    <div class="team_member">
      
      <h3>Html5</h3>
      
      <p>HTML5 includes detailed processing models to encourage more interoperable implementations; it extends, improves, and rationalizes the markup available for documents and introduces markup and application programming interfaces (APIs) for complex web applications.</p></div>
    <div class="team_member">
      
      <h3>Mysql</h3>
      
      <p>MySQL is a relational database management system
        A relational database stores data in separate tables rather than putting all the data in one big storeroom. The database structure is organized into physical files optimized for speed.</p>
    </div>
    <div class="team_member">
        <h3>Java
        </h3>
        <p>Java is a widely-used programming language for coding web applications. It has been a popular choice among developers for over two decades, with millions of Java applications in use today. Java is a multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.</p>
    </div>
  </div>
  <div class="button">
  <h3>click here to move to <a href="/">home page</a></h3>
</div>
</div>
</body>
</html>